In [1]:
from dashare.client.api import DataAPI
from functools import partial

### 设置除了token_key和token外，额外的参数
tmp_dict = {}
tmp_dict['entity'] = 'XJJX'
tmp_dict['start_time'] = '2022-05-30,00:00:00'
tmp_dict['end_time'] = '2022-06-01,00:00:00'
dashare = DataAPI(token_key = 7890,
                    token='eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE2NjUzOTAzNzkuNjk2NjU0LCJ1c2VyIjoidGVzdCJ9.k6XSActXCB2--a3qJ8sMRcSOBQ6XpT6fN0j0spSteIQ',
                    timeout=300)
# df = dashare.query(dataapi='get_meteorological_data_local',params=tmp_dict)
# df = dashare.get_wind_nwp_data_updated_local(params=tmp_dict)
# df = dashare.get_wind_nwp_data_history_local(params=tmp_dict)
# df = dashare.get_wind_measure_data_local(params=tmp_dict)
df = dashare.get_wind_turbine_data_local(params=tmp_dict)

{'entity': 'XJJX', 'start_time': '2022-05-30,00:00:00', 'end_time': '2022-06-01,00:00:00', 'token_key': 7890, 'token': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE2NjUzOTAzNzkuNjk2NjU0LCJ1c2VyIjoidGVzdCJ9.k6XSActXCB2--a3qJ8sMRcSOBQ6XpT6fN0j0spSteIQ'}
<class 'list'>

In [2]:
df

,id,name,fan_type,lat,lng,general_status,state,date_time,active_power,reactive_power,...,state5,state6,state7,state8,state9,state10,capacity,is_sample,create_time,update_time
0,20072128,1T06,0,None,None,5.0,1,1653868800000,1423.000000,0.0,...,None,None,None,None,None,None,2000.0,1,1653868805000,1653868805000
1,20072129,1T09,0,None,None,5.0,1,1653868800000,685.000000,0.0,...,None,None,None,None,None,None,2000.0,1,1653868805000,1653868805000
2,20072130,1T27,0,None,None,5.0,1,1653868800000,2027.000000,0.0,...,None,None,None,None,None,None,2000.0,1,1653868805000,1653868805000
3,20072131,1T44,0,None,None,5.0,1,1653868800000,1466.000000,0.0,...,None,None,None,None,None,None,2000.0,1,1653868805000,1653868805000
4,20072132,1T49,0,None,None,5.0,1,1653868800000,1166.000000,0.0,...,None,None,None,None,None,None,2000.0,1,1653868805000,1653868805000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8059,20080187,2T21,1,None,None,NaN,1,1654041300000,850.299988,0.0,...,None,None,None,None,None,None,2000.0,1,1654041305000,1654041305000
8060,20080188,2T22,1,None,None,NaN,1,1654041300000,876.200012,0.0,...,None,None,None,None,None,None,2000.0,1,1654041305000,1654041305000
8061,20080189,2T27,1,None,None,NaN,1,1654041300000,1126.300049,0.0,...,None,None,None,None,None,None,2000.0,1,1654041305000,1654041305000
8062,20080190,2T40,1,None,None,NaN,1,1654041300000,582.500000,0.0,...,None,None,None,None,None,None,2000.0,1,1654041305000,1654041305000
8063,20080191,2T50,1,None,None,NaN,1,1654041300000,527.799988,0.0,...,None,None,None,None,None,None,2000.0,1,1654041306000,1654041306000